<div class="signup-page">
  <div class="form-signin">
<h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name , class: "sr-only" , for: "name"%>
  <%= f.text_field :name , id: "name", class: "form-control" , placeholder: "name"%><br>

  <%= f.label :email ,class: "sr-only" , for: "inputEmail" %>
  <%= f.email_field :email , id: "inputEmail", class: "form-control" , placeholder: "Email address"%><br>

  <%= f.label :icon ,class: "sr-only" , for: "icon", lang: "en" %>
  <%= f.file_field :icon,id: :user_icon , id: "icon", class: "form-control " ,lang: "en" ,placeholder: "icon" %>
  <%= f.hidden_field :icon_cache %><br>

  <%= f.label :password , class: "sr-only" , for: "inputPassword" %>
  <%= f.password_field :password ,id: "inputPassword", class: "form-control" , placeholder: "Password" %><br>

  <%= f.label :password_confirmation , class: "sr-only" , for: "inputPassword_Confirmation"%>
  <%= f.password_field :password_confirmation, id: "inputPassword_Confirmation", class: "form-control" , placeholder: "Password_Confirmation" %><br>

  <%= f.submit "Create my account",class: "btn btn-lg btn-primary btn-block" %>
<% end %>
</div>
</div>
